<p align="center">
  <a href="https://christianpenrod.com">
    <img
      src="assets/banner.png"
      alt="Hey, I'm Christian. Front-End Web Developer (https://christianpenrod.com)."
      title="Hey, I'm Christian. Front-End Web Developer (https://christianpenrod.com)."
    />
  </a>
</p>

<h2>Latest Posts</h2>

<ul>
  <% posts.forEach(function(post){ %>
  <li><a href="<%= post.link %>"><%= post.title %></a></li>
  <% }); %>
</ul>

<h2>Github Stats (Past Year)</h2>

<ul>
  <li>Total Commits: <strong><%= github.commits.total %></strong></li>
  <li>Total Stars: <strong><%= github.stars.total %></strong></li>
  <li>Total PRs: <strong><%= github.pullRequests.total %></strong></li>
  <li>Total Issues: <strong><%= github.issues.total %></strong></li>
  <li>Total Contributions: <strong><%= github.contributed.total %></strong></li>
</ul>
