<p align="center">
  <a href="https://christianpenrod.com">
    <img
      src="assets/banner.png"
      alt="Hey, I'm Christian. Front-End Web Developer (https://christianpenrod.com)."
      title="Hey, I'm Christian. Front-End Web Developer (https://christianpenrod.com)."
    />
  </a>
</p>

<h2>Latest Posts</h2>

<ul>
  <% posts.forEach(function(post){ %>
  <li><a href="<%= post.link %>"><%= post.title %></a></li>
  <% }); %>
</ul>

<h2>Top Languages (Past 30 Days)</h2>

<ul>
  <% langs.forEach(function(language){ %>
  <li><span><%= language.name %> (<%= language.text %>)</span></li>
  <% }); %>
</ul>

<h2>Github Stats (Past Year)</h2>

<ul>
  <li>Total Commits: <%= github.commits.total %></li>
  <li>Total Stars: <%= github.stars.total %></li>
  <li>Total Pull Requests: <%= github.pullRequests.total %></li>
  <li>Total Issues: <%= github.issues.total %></li>
  <li>Total Contributions: <%= github.contributed.total %></li>
</ul>
